<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_page.data.title %> | bpsk31.com</title>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700,800' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag :site %>
    <%#= javascript_include_tag :all %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-2823743-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>
    <div class="banner"></div>
    <header class="header">
      <a href="/" class="title">PSK31</a>

      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/operation/">Operation</a></li>
        <li><a href="/apps/">Software</a></li>
        <li><a href="/resources/">Resources</a></li>
        <li><a href="https://groups.google.com/forum/#!forum/bpsk31">Discussion Group</a></li>
      </ul>
    </header>

    <div class="section typeset">
      <%= yield %>

      <% unless current_page.data.hide_comments %>
      <h2>Discussion</h2>
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
          this.page.url = 'http://bpsk31.com<%= current_page.data.disqus_path || current_page.url %>';
          // this.page.identifier = PAGE_IDENTIFIER;
        };
        (function() {
        var d = document, s = d.createElement('script'); s.src = '//bpsk31.disqus.com/embed.js'; s.setAttribute('data-timestamp', +new Date()); (d.head || d.body).appendChild(s); })();
      </script>
      <% end %>
    </div>

    <footer class="footer">
      <div class="section">
        Website copyright &copy; <%= Date.today.year %>.  Contact <a href="mailto:jacobwgillespie@gmail.com">Jacob, KD5TEN</a> with any questions or comments.
      </div>
    </footer>
  </body>
</html>
